.Landing-section{
    padding:0;
}
.top-rated-section, .latest-movies-section, .now-playing-section, .upcoming-section{
    text-align: center;
    padding: 50px 100px;
}
.landing-decoration-container{
    padding-top: 10vh;
    height: 100vh;
}
.landing-search{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;   
    max-width: 400px;
    margin: 0 auto;
}
footer{
    display: flex;
    width: 100%;
    height: 2rem;
    justify-content: space-between;
    padding: 40px 15px;    
}
footer span{
    padding-bottom: 20px;
}
.horizontal-line{
    border-top: 3px solid yellow;
    padding: 5px;
}

@media screen and (max-width: 955px){
    .top-rated-section, .latest-movies-section, .now-playing-section, .upcoming-section{
        padding:50px 0px;
    
    }
}

@media screen and (max-width: 1761px){
    .Landing-container {
        padding: 10vh 0;        
    }
}

@media screen and (min-width : 1400px) {
    
    .landing-movies-container{
        max-width: 1500px;
    }
    
}

