.pagination-container{
    width: 100%;
}
.pagination-links{    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.pagination-link{
    margin: 10px;
    border: 5px solid white;
    padding: 10px;
    font-size: 1.2rem;
    text-decoration: none;
    color: inherit;
}

@media(max-width: 800px){
    .rated-movies-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media(max-width: 800px){
    .popular-movies-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}